body{
    max-width: 1280px;
    margin: 0 auto;
}

.header {
     font-family: "Myriad Pro";
     font-size: 80px;
     margin-top: 45px;
     margin-bottom: 45px;
 }

 a {
     text-decoration: none;
 }

ul.topmenu {
    background-color: #35444f;
    text-align: center;
    padding: 20px;
}

a.toplinks{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Myriad Pro";
    font-size: 24px;
    color: #ffffff;
}

li.navmenu {
    display: inline;
}

li.navmenu a:hover{
    padding-left: 39px;
    padding-right: 39px;
    background-color: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}

div.flex {
    display: flex;
}

ul.leftmenumain {
    margin-top: 30px;
    list-style-type: none;
    box-sizing: border-box;
    border: 1px solid #35444f;
    width: 338px;
    height: 397px;
    text-align: left;
    padding-left: 0;
}

div.leftlinks {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    border: none;
    font-family: "Myriad Pro";
    font-size: 27px;
    color: #485863;
}

div.leftlinks:hover {
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 70px;
    width: 79%;
}

.imgbox {
    margin-top: 30px;
    margin-left: 50px;
    box-sizing: border-box;
    border: 1px solid #35444f;
    width: 900px;
    height: 527px;
}

img {
    display: block;
    margin: 70px auto;
    transition: 1s;
}

.img:hover{
    transform: scale(1.35);
}

div.text{
    font-size: 18px;
    font-family: "Myriad Pro";
    padding-left: 425px;
    padding-right: 34px;
}

ul.bottom-menu {
    list-style-type: none;
    background-color: #b4b7ba;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a.bottom-links {
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 2px;
    color: #0c1927;
    font-family: "Myriad Pro";
    font-size: 27px;
}

li.end-menu {
    display: inline;
}

li.end-menu a:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
.footer {
    padding-right: 34px;
    float: right;
    display: inline;
    color: #0c1927;
    font-family: "Myriad Pro";
    font-size: 27px;
}
